html, body{
	margin:0;
	padding:0;

	height:100%;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color:#000000;
	font-weight: 400;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

img{
	max-width: 100%;
	height:auto;
}

a{
	color:#000000;
	text-decoration: none;
}

.visually-hidden{
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.button{
	display:inline-block;
	margin-right: 6px;
	font:inherit;
	font-weight: 700;
	background-color: #81b3d2;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
}

.button:hover{
	background-color: #669ec0;
}

.button:active{
	background-color: #5496bd;
	color:#94b9d2;
}


.wrapper{
	position: relative;
	display: flex;
	flex-direction: column;

	margin:0 auto;
	max-width: 1200px;
	min-width: 768px;
	min-height: 100%;

	color:#000000;
	background-color: #ffffff;
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.main-navigation{
	position: relative;
	padding:15px 6%;
}

.main-header-logo{
	position:absolute;
	width:138px;
	top:0;
	left:50%;
	margin-left:-69px;
}

.main-header-logo img:first-child{
	z-index: 0;
}

.logo-img{
	position: absolute;
    top: 0;
    left:35.4px;
    right: 35.4px;
	z-index: 1;
}

.site-navigation{
	display:flex;
	flex-wrap:wrap;
	margin:0;
	padding:0;
	list-style: none;
}

.site-navigation li{
	width:20%;
}

.site-navigation li:nth-child(3n){
	margin-left:auto;
}

.site-navigation li:nth-child(1n+3){
	text-align: right;
}


.site-navigation a{
	font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus{
	color:#81b3d2;
}

.site-navigation a:active{
	opacity: 0.3;
}

.bg-picture{
	padding-top: 75px;
	padding-bottom: 80px;
	margin-bottom:62px;
	
	text-align: center;
	background-color: #768087;
	background-image: url("../image/sedona-border-bottom.png"),
					  url("../image/bg__sedona_.jpg");
	background-position: bottom, right 28%;
	background-size: 100% auto, cover;
	background-repeat: no-repeat, no-repeat;
}

.bg-picture p{
	margin:0;
	line-height: 0;
}

.bg-picture p:not(:last-child){
	margin-bottom:55px;
}


.features{
	margin-bottom:55px;
}

.features-slogan{
	display:block;
	margin-bottom:30px;

	font-size:21px;
	font-weight: 700;
	text-align: center;
}

.features-text{
	margin:0;
	margin-bottom:50px;

	color:#333333;
	text-align: center;
}

.features-list{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin:0;	
	padding:0;
	list-style: none;
	background-color: #eeeeee;
}

.features-item{
	display:flex;
	flex-shrink: 0;
	
	padding:5%;
	box-sizing:border-box;

	width:33%;
	text-align: center;
}

.features-important{
	padding:0;
	width:100%;

	color:#ffffff;
	background-color: #81b3d2;
}

.features-important .features-wrapper{
	padding:5%;
	box-sizing:border-box;
	width:33%;
	text-align: center;
}

.features-wrapper b{
	display:block;
	margin-bottom:23px;

	font-size:21px;
	line-height: 21px;
	font-weight: 700;
	text-align: center;
}

.features-wrapper span{
	position: relative;
	display:block;
	margin:0 auto;
	margin-bottom:25px;

	width:50px;
}

.features-wrapper span::before,
.features-wrapper span::after{
	content:"";
	position:absolute;
	top:12px;

	width:9px;
	height:2px;
	background-color: #aaaaaa;
}

.features-important span::before,
.features-important span::after{
	background-color: #ffffff;
}

.features-wrapper span::before{
	left:0;
}
.features-wrapper span::after{
	right:0;
}

.features-wrapper p{
	margin:0;
	line-height: 21px;
}

.features-important .features-img{
	position:relative;
	margin:0;
	width: 67%;
	overflow: hidden;
	line-height: 0;
	text-align: left;
}

.features-img img{
	position:absolute;
   top: 50%;
   margin-top: -25%;
}


.features-item:first-child{
	order:-2;
}
.features-item:last-child{
	order:-1;
}


.services-list{
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
	margin:0;
	padding:0;
	width:100%;
	list-style: none;

	color:#000000;
	text-align: center;
	background-color: #ffffff;
}

.services-item{
	position:relative;
	padding: 7% 5%;
	padding-top:165px;

	box-sizing:border-box;
	width: 33%;
}

.services-item:nth-child(1)::before,
.services-item:nth-child(2)::before,
.services-item:nth-child(3)::before{
	content:"";
	position: absolute;
	top:60px;
	left:50%;
	margin-left:-37.5px;
	width:75px;
	height:72px;
	background-position: top center;
	background-repeat: no-repeat;
}
.services-item:nth-child(1)::before{
	background-image: url("../image/servise-icon-1.png");
}

.services-item:nth-child(2)::before{
	background-image: url("../image/servise-icon-2.png");
}

.services-item:nth-child(3)::before{
	background-image: url("../image/servise-icon-3.png");
	top:56px;
	height:76px;
}

.services-item h3{
	margin:0;
	margin-bottom:25px;

	font-size:21px;
	line-height: 21px;
	font-weight: 700;
}

.services-item p{
	margin:0;

	line-height: 21px;
}


.search-title{
	display:block;
	margin-bottom:30px;
	font-size:30px;
	line-height: 36px;
	text-align: center;
}

.search-text{
	margin:0;
	margin-bottom:50px;

	line-height: 24px;
	text-align: center;
}


.search-wrapper{
	margin:0 auto;

	width:568px;
}

.button-search{
	margin-right:0;
	padding:30px 0;
	width:100%;
	font-size:21px;
	font-weight: normal;
	background-color:#766357;
}

.button-search:hover{
	background-color:#604e43;
}

.button-search:active{
	background-color:#503e33;
	color:#857871;
}

.search-container{
	position: absolute;
	width:568px;
	overflow: hidden;
	height: 410px;
}


.inner-wrapper{
	position: relative;
	top:-400px;
	z-index: 3;
}

@keyframes fall{
	0%{
		top: -400px;
	}
	100%{
		top: 0;
	}
}

.form-show{
	top:0;
	animation: fall 0.2s ease-out;
}


@keyframes rise{
	0%{
		top: 0;
	}
	100%{
		top: -400px;
	}
}

.form-hide{
	top:-400px;
	animation: rise 0.2s ease-out;
}

.search-form{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding:55px;
	font-weight:700;
	background-color:#ffffff;
}

.search-form-field{
	position:relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin:0;
}

.search-form-field:nth-child(1),
.search-form-field:nth-child(2){
	width:100%;
	margin-bottom:30px;
}



.search-form input[type='text']{
	background-color:#f2f2f2;
	box-sizing:border-box;
	font:inherit;
	font-weight:700;
	text-transform: uppercase;
}


.search-form svg{
	position: absolute;
	top:8px;
	right:10px;
	cursor:pointer;
}

.calendar-icon path{
	fill: #a9a9a9;
}

.calendar-icon:hover path{
	fill: #000000;
}
.calendar-icon:active path{
	fill: #81b3d2;
}

.form-date{
	margin-left: auto;
	padding:6px 0;
	padding-left: 12px;
	padding-right:40px;
	border:none;
	width:346px;

}


.form-date[type='text']:hover{
	background-color:#ebebeb;
}

.form-date[type='text']:focus{
	outline:2px solid  #eeeeee;
	background-color:#ffffff;
}



.search-form-field:nth-child(3){
	width:226px;
}
.search-form-field:nth-child(4){
	width:179px;
}

.button-reduce{
	margin-left: auto;
}

.search-form-field:nth-child(3),
.search-form-field:nth-child(4){
	display:flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 54px;
}

.search-form-field:nth-child(3) input,
.search-form-field:nth-child(4)	input{
	height:38px;
	width:35px;
	border:none;
	text-align: center;
}


.button-reduce,
.button-increase{
	position: relative;
	margin-right:0;
	vertical-align: top;
	padding:0;
	width:40px;
	height:38px;
	background-color:#f2f2f2;
	cursor: pointer;
}

.button-reduce:active,
.button-reduce:hover,
.button-increase:active,
.button-increase:hover{
	background-color:#f2f2f2;
}

.button-reduce::before,
.button-increase::before,
.button-increase::after{
	content:"";
	position:absolute;

	top:18px;
	left:14px;
	width:11px;
	height:3px;
	background-color:#a9a9a9;
}

.button-increase::after{
	transform: rotate(90deg);
}


.button-reduce:hover::before,
.button-increase:hover::before,
.button-increase:hover::after{
	background-color:#000000;
}

.button-reduce:active::before,
.button-increase:active::before,
.button-increase:active::after{
	background-color:#81b3d2;

}

.search-form-field:nth-child(5){
	width:100%;
}

.button-submit{
	padding:16px 0;
	width:100%;
	margin-right:0;

	font-size: 21px;
	font-weight: normal;
	cursor: pointer;
}

.map-wrapper{
	position:relative;
	margin:0;
	height:593px;
	overflow: hidden;
}

.map-wrapper img{
	position:absolute;
	left:50%;
	margin-left:-600px;
	max-width: inherit;
	height:inherit;
}

.map-wrapper iframe{
	border:none;
	position:absolute;
	top:0;
}

/* ************************************************************************* */

.wrapper{
	/*display: flex;
	flex-direction: column;
	min-height: 100%;*/
}

.site-navigation-current{
	color:#766357;
	pointer-events: none;
}

.filters{
	padding:30px 6%;
	color:#ffffff;
	background-color:#556c80;
	background-image: url('../image/fon-filter.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.filters-form{
	display:flex;
	flex-wrap: wrap;
	width:100%;
}

.filters fieldset{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin:0;
	padding:0;
	border:none;
	line-height: 21px;
}

.filters fieldset:nth-child(1),
.filters fieldset:nth-child(2){
	width:33%;
	max-width: 210px;
}

.filters fieldset:last-child{
	margin-left:auto;
	width:33%;
	max-width:300px;
}

.filters legend{
	margin-bottom:27px;

	font-size: 16px;
	line-height:21px;
	font-weight: 700;
}

.filters fieldset:last-child legend{
	margin-bottom:14px;
}

.filter-option{
	position: relative;
	padding-left:40px;
	margin-bottom:23px;
	cursor: pointer;
}

.filter-option:last-child{
	margin-bottom:0;
}

.checkbox-indicator{
	position: absolute;
	top:-1px;
	left:0;
	width:19px;
	height:19px;
	border:2px solid #ffffff;
	border-radius:3px;
	z-index: 1;
}


.filter-option input[type='checkbox']:checked + .checkbox-indicator::before{
	content:"";
	position: absolute;
	top: -2px;
    left: -2px;
	width:27px;
	height:23px;
	background-image: url('../image/checkbox-on.png');
	background-repeat: no-repeat;
	background-position: center top;
	z-index: 0;
}

.filter-option input[type='checkbox']:checked + .checkbox-indicator{
	border-color:transparent;
}

.filter-option input[type='checkbox'][disabled] + .checkbox-indicator{
	border-color:#696969;
}

.filter-option input[type='checkbox'][checked] + .checkbox-indicator::before{
	background-image: url('../image/checkbox-locked.png');
}


.filter-range-data{
	position:relative;
	margin:0;
	margin-bottom:10px;
	line-height:0;
	border:2px solid #ffffff;
	border-radius:3px;
	box-sizing:border-box;
}

.filter-range-data:before{
	content:"";
	position:absolute;
	top:5px;
	left:50%;
	width:2px;
	height:22px;
	background-color: #ffffff;

	}

.filter-range-data input[type='text']{
	position:relative;
	padding:7px 0;
	width:49%;
	border:none;
	background-color: transparent;
	font:inherit;
	color:#ffffff;
	text-transform: uppercase;
	text-align: center;
}

.filter-range-indicator{
	position:relative;
	margin-bottom:20px;
	min-height:20px;
}

.filter-range-indicator::before{
	content:"";
	position: absolute;
	left:0;
	top:9px;
	width:100%;
	height:2px;
	background-color: #ffffff;
	opacity: 0.3;
	z-index:0;
}

.filter-range-line{
	position: absolute;
	left:10px;
	right:55px;
	top:9px;
	height:2px;
	background-color: #ffffff;
	z-index:1;
}

.filter-range-min,
.filter-range-max{
	position:absolute;
	z-index:2;
	cursor: pointer;
}


.filter-range-min{
	left:0;
}

.filter-range-max{
	right:45px;
}

.filter-range-min:hover,
.filter-range-max:hover{
	transform: scale(1.1);
}


.button-show{
	margin:auto;
	padding:6px 35px;
	border:2px solid #ffffff;
	box-sizing:border-box;
	border-radius:3px;
	background-color: transparent;
	line-height: 21px;
	font-weight: 400;
	cursor: pointer;
}

.button-show:hover{
	background-color: #ffffff;
	color:#000000;
}


.sort{
	display: flex;
	align-items: center;
	padding:30px 6%;
	border-bottom:1px solid #e5e5e5;
}

.sort-result{
	margin:0;
	margin-right:50px;
	font-size: 21px;
	line-height: 26px;
	font-weight:700;
}

.sort-heading{
	margin:0;
	margin-right:40px;
	color:#000000;
	font-size: 12px;
	line-height: 18px;
	font-weight:400;
}

.sort-select{
	display:flex;
	flex-wrap:wrap;
	flex-grow:1;
	margin:0;
	padding:0;
	list-style:none;
}

.sort-select li{
	margin-right:30px;
}

.sort-select .sort-select-current{
	color:#92bdd8;
	border:none;
	pointer-events: none;
}

.sort-select a{
	color:#cacaca;
	font-size: 12px;
	line-height: 18px;
	border-bottom:1px dotted #92bdd8;
}

.sort-select a:hover{
	color:#92bdd8;
}

.sort-select a:active{
	color:#000000;
}

.sort-select .sort-option{
	display:flex;
	justify-content: space-between;
	align-items: center;

	margin-right:0;
	margin-left:auto;

	width:34px;
}

.sort-select .sort-up,
.sort-select .sort-down{
    width: 11px;
    height: 10px;
    font-size: 0;
    border-bottom:none;
}

.sort-select .sort-up path,
.sort-select .sort-down path{
	fill: #cacaca;
}

.sort-select .sort-up:hover path,
.sort-select .sort-down:hover path{
	fill: #000000;
}

.sort-select .sort-up:active path,
.sort-select .sort-down:active path{
	fill: #81b3d2;
}

.sort-select .sort-option-current path{
	fill: #81b3d2;
}

.sort-select .sort-option-current{
	pointer-events: none;
}

.catalog-list{
	margin:0;
	padding:0;
	list-style: none;
}

.catalog-item{
	display:flex;
	padding:30px 6%;

	border-bottom:1px solid #e5e5e5;
}

.catalog-image{
	margin:0;
	margin-right:30px;

	line-height: 0;
}

.catalog-image img{
	width:135px;
	height:90px;
}

.catalog-container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-heading{
	font-size:21px;
	font-weight: 700;
	line-height:21px;
}

.catalog-heading:hover{
	color:#81b3d2;
}

.catalog-heading:active{
	color:#b2b2b2;
}

.catalog-price{
	font-size:0;
}

.catalog-price span{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: normal;
}

.catalog-price span:first-child{
	width: 105px;
	margin-right: 6px;
}

.catalog-wrapper{
	font-size: 0;
}

.catalog-botton{
	padding:3px 17px;
	font-size: 14px;
	line-height:21px;
	margin-right: 6px;
}

.button-book{
	background-color: #766357;
	margin-right: 0;
}

.button-book:hover{
	background-color: #604e43;
}

.button-book:active{
	color:#857871;
	background-color: #503e33;
}

.catalog-rating{
	display: flex;
	flex-direction: column;
    margin-left: auto;
}


.rating-stars{
	margin: 0;
    margin-left: auto;
    line-height: normal;
}

.rating-stars{
	height:17px;
	background-image: url('../image/star.svg');
}

.star-1{
	width:24px;
}
.star-2{
	width:48px;
}
.star-3{
	width:72px;
}
.star-4{
	width:96px;
}
.star-5{
	width:120px;
}

.rating-value{
	margin:0;
	margin-top:auto;
	background-color: #fafafa;
	color:#666666;
    padding: 3px 14px;
    font-size: 14px;
    line-height: 21px;
}

/* ************************************************************************* */

.main-footer{
	position:absolute;
	bottom:0;
	padding:36px 0;
	display: flex;

	width:100%;
	background-color:rgba(255,255,255,0.9);
}

.inner-page .main-footer{
	position: relative;
	margin-top:auto;
}

.footer-hashtag{
	margin:auto;
	width:33%;
}

.footer-hashtag{
	display: flex;
    justify-content: center;
    align-items: center;
	margin:0;
	
	font-weight:700;
	font-size: 21px;
	text-transform: uppercase;
}

.social-list{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin:0;
	padding:0;
	list-style: none;
	width:33%;
}

.social-button{
	display:flex;
	align-items: center;
	justify-content: center;
	margin-right:6px;

	width:46px;
	height:48px;
	background-color: #81b3d2;
}

.social-button:hover{
	background-color:#669ec0;
}

.social-button:active path{
	fill:#88b6d1;
}
.social-button:active{
	background-color:#5496bd;
}


.footer-copyrigth{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0;
	width:33%;
	font-size: 0;
}

.footer-copyrigth a{
	display: inline-flex;
}

.footer-copyrigth span{
	margin-right:8px;
	font-size: 14px;
}

.footer-copyrigth a:hover path{
	fill: #81b3d2;
}

.footer-copyrigth a:active path{
	fill: #bdbbbc;
}

